.sidenav-container {
    height: 10%;
    width: 1560px;
  }
  
  .sidenav {
    width: 175px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .welcome{
    position:relative;
    font-style: oblique;
    font-weight:large;
    left:250px;
    top:10px;
  }
  .welcome span{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .logout{
    position: absolute;
    right:250px;
    color:blue;
    font-size: small;
    border-radius: 8px;
    border-color:black;
  }