<!-- <div class="container-fluid">
  <nav class="navbarnavbar-expand-smbg-dark navbar-dark">
  <ul class="navbar-nav">
   
  <li class="nav-item ">
  <a routerLink="user-list" class="nav-link" class="btn btn-primary active" role="button" >View user</a>
  </li>
  <li class="nav-item">
  <a  routerLink="add-user" class="nav-link" class="btn btn-primary active" role="button" >Registration</a>
  </li>
  <li class="nav-item">
    <a  routerLink="login-user" class="nav-link" class="btn btn-primary active" role="button" >Login</a>
    </li>
    <li class="nav-item">
      <a  routerLink="active-user" class="nav-link" class="btn btn-primary active" role="button" >Active User</a>
      </li>
      <li class="nav-item">
        <a routerLink="blog-list" class="nac-link" class="btn btn-primary active" role="button" >BLOG LIST</a>
      </li>
  </ul>
  </nav> -->
  
  <router-outlet></router-outlet>
<!-- </div> -->

