<div class="panel panel-default">
  <div class="panel-heading">
      <h1 style="font-weight: bold;text-align: center;"><I>ALL USERS</I></h1><br>
      <div class="row" [hidden]= "!deleteMessage">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <div class="alert alert-info alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">x</button>
                  <strong>User Data Deleted</strong>
              </div>
          </div>
          <div class="col-sm-4"></div>
      </div>
  </div>

    <div class="panel-body">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead class="thead-light">
         <tr>
          <th>UserID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>UserName</th>
          <th>Password</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th>IsOnline</th>
          <th>Enabled</th>
          <th>Action</th>  
         </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.userId}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.status}}</td>
          <td>{{user.isOnline}}</td>
          <td>{{user.enabled}}</td>
          <td><button (click)="deleteUser(user.userId)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>
              <button (click)="updateUsers(user.userId)" class='btn btn-info'  data-toggle="modal" data-target="#myModal">Update</button>
          </td>
        </tr>
        </tbody><br/>
        </table>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
             <form [formGroup]="userupdateform" #updateusers (ngSubmit)="updateUsers(updateUser)">
            <!-- Modal Header -->
            <div class="modal-header">
               <h4 class="modal-title" style="text-align: center">Update User</h4>       
            </div>
        
             <!-- Modal body -->
            <div class="modal-body" *ngIf="let user of userlist">
               <div [hidden]="isupdated">
        
                  <input type="hidden" class="form-control"  formControlName="userId" [(ngModel)]="userlist.userId">
                  <div >
                    <label for="name">First Name</label>
                    <input type="text" class="form-control"  formControlName="firstName" [(ngModel)]="userlist.firstName"  >
                  </div>

                  <div >
                     <label for="name">Last Name</label>
                     <input type="text" class="form-control"  formControlName="lastName" [(ngModel)]="userlist.lastName"  >
                  </div>

                  <div >
                    <label for="name">Username</label>
                    <input type="text" class="form-control"  formControlName="username" [(ngModel)]="userlist.username"  >
                  </div>

                  <div >
                    <label for="name">Password</label>
                    <input type="text" class="form-control"  formControlName="password" [(ngModel)]="userlist.password"  >
                  </div>
                  <div >
                        <label for="name">Email</label>
                        <input type="text" class="form-control"  formControlName="email" [(ngModel)]="userlist.email"  >
                  </div>
                  <div >
                      <label for="name">Role</label>
                      <select class="form-control" formControlName="role" required>
                        <option value="Admin" [selected]="'Admin' ==userlist.role">Admin</option>
                        <option value="User" [selected]="'User' ==userlist.role">User</option>
                      </select>
                  </div>
                  <div >
                      <label for="name">Status</label>
                      <input type="text" class="form-control"  formControlName="status" [(ngModel)]="userlist.status"  >
                  </div>
                  <div >
                      <label for="name">IsOnline</label>
                      <input type="text" class="form-control"  formControlName="isOnline" [(ngModel)]="userlist.isOnline"  >
                  </div>
                  <div >
                    <label for="name">Enabled</label>
                    <input type="text" class="form-control"  formControlName="enabled" [(ngModel)]="userlist.enabled"  >
                  </div>

                </div>
                <div [hidden]="!isupdated">
                   <h4>User Detail Updated!</h4>
                </div> 

            </div>

            <!-- Modal footer -->
            <div class="modal-footer" >
               <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
            </div>
    
           </form>
        </div>
    </div>
</div>

    


        
    



