.panel{
    position:relative;
    left:95px;
    background-color:rgb(26, 234, 241);
    }
td {
     border-right: solid 0.3px  rgb(10, 10, 10);
     border-bottom:solid 0.3px black;
       
      }
th{
     border-top:solid 0.5px black;
     border-bottom:solid 0.5px black; ;
      }
.panel-body th:hover{
     color:rgb(236, 28, 28);
}
.panel-body tr:hover{
     font-weight: bold;
     color:rgb(236, 102, 24);
  }   

  .panel button:hover{
    font-weight: bolder;
    color:black;
  }
  .panel-body td:nth-child(1n+1):hover{
    color:black;
    
  }